@charset "UTF-8";

body {
    font-family:"Noto Sans KR", sans-serif;
}
#intro {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: .5s cubic-bezier(1,.01,.8,1.16) .3s;
}
#loginBox {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -300px;
    z-index: 1;
    text-align: center;
}

#loginBox h1 {
    font-size:60px;
    color:#fff;
    font-weight:900;
    margin-bottom:20px;
    text-shadow: 0 0 3px #fff;
}
#loginBox h1 * {
    vertical-align: middle;
}
#logo {
    position: relative;
    top:3px;
}

#loginBox input, #loginBtn {
    width: 450px;
    height: 50px;
    padding: 5px 10px;
    border: 1px solid #fff;
    font: 300 20px/50px "Noto Sans KR", sans-serif;
    margin: 4px auto;
    background: rgba(255,255,255,.1);
    color: #fff;
    transition: .2s ease;
    position: relative;
    display: block;
}
#loginBox input:focus {
    background: rgba(255,255,255,.9);
    color: #333;
}
#loginBtn {
    cursor: pointer;
    display: inline-block;
    box-sizing: content-box;
}

#loginBtn:hover {
    background: rgba(0, 125, 255,.9);
}

#joinLink {
    width: 450px;
    height: 50px;
    padding: 5px 10px;
    font: 300 20px/50px "Noto Sans KR", sans-serif;
    margin: 4px auto;
    background: rgba(255,255,255,.1);
    color: #fff;
    transition: .2s ease;
    position: relative;
    display: block;
    text-decoration: none;
}
#joinLink:hover {
    background: rgba(255,255,255,.9);
    color: #333;
}

#videoContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
#videoContainer::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.5);
}
#videoContainer > video {
    min-width: 100%;
    min-height: 100%;
}

#msgBox {
    margin:10px;
    position: relative;
    text-align: center;
    color:#fff;
    font-size:21px;
    font-weight: 900;
}