<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<!-- 서블릿 -->
	<servlet>
	<!-- name은 아무렇게나 지정해도 무방 -->
		<servlet-name>life</servlet-name>
		<servlet-class>servlet.LifeCycleServlet</servlet-class>
		
		<!--  서버를 키면 만들어짐 2가 기본값 -->
		<!-- <load-on-startup>1</load-on-startup> -->
	</servlet> 
	
	<!--  서블릿 맵핑 -->
	<servlet-mapping>
		<servlet-name>life</servlet-name>
		<!-- / 필수 -->
		<url-pattern>/life</url-pattern>
	</servlet-mapping>
</web-app>