<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- NULL입력 들어갈 수 있도록 세팅 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!-- 편리하게 alias로 -->
	<typeAliases>
		<typeAlias alias="Member"
		 type="com.doogwal.coffee.vo.Member"/>
		<typeAlias alias="Article"
		 type="com.doogwal.coffee.vo.Article"/>
		<typeAlias alias="PageVO"
		 type="com.doogwal.coffee.vo.PageVO"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source"
				 value="java:comp/env/oraclexe"/> 
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/doogwal/coffee/mapper/members.xml"/>
		<mapper resource="com/doogwal/coffee/mapper/boards.xml"/>
	</mappers>
	
</configuration>

