@charset "UTF-8";

body {
	font-family:'Noto Sans KR',sans-serif; 
}

#wrap {
	width:1000px;
	margin:auto;
	border:1px solid #2196F3;
	 box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header {
	width:1000px;
	height:100px;
}

#header>h1 {
	width:1000px;
	height:100px;
	font-size:60px;
	text-align: center;
	line-height: 100px;
	font-weight:700;
	
}
#header>h1>a {
	color:#2196F3;
	text-decoration:none;
	transition:text-shadow .2s ease-out;
}

#header>h1>a:hover {
	color:#2962FF;
	text-shadow:0 0 5px #2962FF;
}


#content {
	width:700px;
	padding:0 150px;
	min-height:380px;
	border-top:1px solid #2196F3;
	border-bottom:1px solid #2196F3;
}

#footer {
	width:1000px;
	height:100px;
	font-size:19px;
	text-align: center;
	line-height:100px;
	color:#2196F3;
}


.btn_box {
	margin:10px 0;
	text-align: right;
}

.btn {
	background:#64B5F6;
	color:#fff;
	border: 0;
	padding:10px 12px;
	font-size:20px;
	text-decoration: none;
	font-weight:700;
	margin:0;
	cursor: pointer;
	font-family:'Noto Sans KR',sans-serif; 
	line-height:1em;
	display: inline-block;
	box-sizing:border-box;
	transition: box-shadow .2s ease-out;
	
}

.btn:hover {
	background:#1565C0;
	 box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

