@charset "UTF-8";

#content h2 {
	font-size:32px;
	color:#2196f3;
	margin:20px 0;
	font-weight:700;
}

#content .title {
	width:90px;
	display: inline-block;
	height:40px;
	font-size:21px;
	line-height:40px;
	text-align: right;
	vertical-align: middle;
	color:#424242;
	font-weight: 200;
}

#writer,#contents {
	vertical-align: top;
	font-family:"Noto Sans KR",sans-serif;
	font-size:25px;
	width:575px;
	padding:10px;
	border:1px solid #2196f3;;
	/*
	 * textarea크기 변경 못하게
	 */
	resize: none;
	margin-left:5px;
	vertical-align: middle;
}

#writer:focus,#contents:focus {
	border-color:#2196f3;;
	background:#efefef;
	outline:2px solid #2196f3;
}

#content div {
	margin:10px 0;
}

#content .emotion {
	font-size:40px;
	color:#2196f3;
	vertical-align: middle;
	cursor: pointer;
}
#content .emotion:hover {
	color:#1976D2;
	text-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
}
.emotion * {
	vertical-align: middle;
}
#content .middle {
	vertical-align: middle;
}
:checked+i {
	color:#283593;
}